@primary: #261ea6;
@background: #ebebeb;
@card-bg: #fff;
@border: #dbe3ec;
@shadow: 0 2px 10px rgba(0, 0, 0, .08);

@danger: #ff2600;
@warning: #eae703;
@success: #00c901;
@white: #ffffff;

@margin: 0.125em;
@padding: 0.125em;

@max-width: 1400px;
@border: solid 1px #b9b9b9;